<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Streaming websit</h1>
    <h3 class="mb-3">watch Free movies and tv shows</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat..
    </p>
    <!-- <button class="btn btn-warning" (click)="sayhello()">get your welcome </button> -->
  </div>

<!-- Header -->
<div class="header">
  <div class="content">
    <div class="logo"></div>
    <div class="title">
      <h1 style="margin-bottom: 10px">Nestflix <span>Streaming</span></h1>
      <p>watch Free movies and tv shows</p>
    </div>
  </div>
</div>
