
 <div>
  <button type="button" class="btn btn-primary float-end mb-5" (click)="toggleLang()">{{lang=="ar-SA"?'English':'Arabic'}}</button>
 </div>
<div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
  [(ngModel)]="searchValue"
  >
</div>

<div class="row">
  <div class="card movie_card col-lg-4 mt-3" *ngFor="let movie of allMovies">
    <div [routerLink]="['/moviesDetails',movie.id]">
      <img
        [src]="basepath + movie.poster_path"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title| mycustom }}</h5>
        <span class="movie_info">{{ movie.release_date | date }}</span>
        <p>{{movie.vote_average/2}}</p>
        <app-movie-rating [rating]="movie.vote_average"  (dataFromChildEvent)="handelChildMsg($event)"></app-movie-rating>
        
        <!-- <p>{{movie.overview | lowercase}}</p> -->
        <!-- <button class="btn btn-success d-block" [disabled]="myMovie1.notValiable">Watch</button>
        <button class="btn btn-primary d-block" *ngIf="myMovie1.inStock">Add to Cart</button> -->
      </div>
    </div>
  </div>
</div>
<hr>
<mat-paginator [length]="totalPages"
              [pageSize]="20"
              aria-label="Select page"
              (page)="changePage($event)">
</mat-paginator>

