<div class="row">
  <div class="card movie_card col-lg-4">
    <img [src]="myMovie1.poster" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ myMovie1.name }}</h5>
      <span class="movie_info">{{ myMovie1.releaseYear }}</span>
      <button class="btn btn-success d-block" [disabled]="myMovie1.notValiable">Watch</button>
      <button class="btn btn-primary d-block" *ngIf="myMovie1.inStock">Add to Cart</button>
    </div>
  </div>
  <div class="card movie_card col-lg-4">
    <img src="{{ myMovie2.poster }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ myMovie2.name }}</h5>
      <span class="movie_info">{{ myMovie2.releaseYear }}</span>
      <button class="btn btn-success d-block" [disabled]="myMovie2.notValiable">Watch</button>
      <button class="btn btn-primary d-block" *ngIf="myMovie2.inStock">Add to Cart</button>
    </div>
  </div>
  <div class="card movie_card col-lg-4">
    <img src="{{ myMovie3.poster }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ myMovie3.name }}</h5>
      <span class="movie_info">{{ myMovie3.releaseYear }}</span>
      <button class="btn btn-success d-block" disabled={{myMovie3.notValiable}}>Watch</button>
      <button class="btn btn-primary d-block" *ngIf="myMovie3.inStock">Add to Cart</button>
    </div>
  </div>
</div>

<p>{{ property1 }}</p>
